
<FluentStack Orientation="Orientation.Horizontal"  Style="height:100%" >
    <div style="background: var(--neutral-layer-3); display: flex; padding: 10px; height:100%">
        <FluentNavMenu Expanded=false Collapsible=true Width="250" Title="Menu">
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Home</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.ProjectionScreen())" Href="/projects">Projects</FluentNavLink>
        </FluentNavMenu>
    </div>
</FluentStack>

